/* 

Purple Hex: #5a3795

*/

/* @font-face {
    font-family: "AvenirNext";
    src: url(includes/media/fonts/avenir-next-pro-full/AvenirNextLTPro-Regular.ttf);
    }
    
    @font-face {
    font-family: "Univers";
    src: url(/assets/fonts/Univers/Univers.otf);
    }
    
    @font-face {
    font-family: "AvenirNextDemi";
    src: url(includes/media/fonts/avenir-next-pro-full/AvenirNextLTPro-Demi.ttf);
    }
    
    body {
    font-family: 'AvenirNext','Trebuchet MS';
    
    }
    
    p {
        color: black;
        font-family: 'AvenirNext','Trebuchet MS';
        font-size: 14px;
        color: #545454;
    }
    
    h1 {
        font-family: 'AvenirNextBold','Trebuchet MS'; 
        color: #6CBD45;
    }
    
    h5 {
        font-family: 'AvenirNextDemi','Trebuchet MS'; 
        color: #545454;
    }
    
    h2,h3,h4 {
        font-family: 'AvenirNextDemi','Trebuchet MS'; 
      
        color: #6CBD45;
    } */

